* {
    font-family: 'Red Rose', cursive;
}

a { 
    text-decoration: none;
} 

header {
    background: #171f2b;
}

body {
    margin: 0;
    padding: 0;
}

.box-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-sm {
    max-width: 848px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

svg#logo:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

.menu-content {
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu-icon {
    color: #fefefe;
    text-align: right;
}

.social {
    padding-right: 12px;
    font-size: 125%;
}

.social:hover {
    color: #7E6EE6;
    transition: 0.3s;
}

.menu {
    background: #171f2b;
    text-align: center;
}

.hero-title {
    color: #fefefe;
    font-size: 40px;
}

.hero-paragraph {
    color: #6a798e;
    font-size: 20px;
    margin-bottom: 30px;
}

a.hero-button {
    margin-top: 10px;
}

.hero-button h3 {
    margin: 0 auto;
    width: 200px;
    padding: 10px 20px;
    background: #7E6EE6;
    color: #fefefe;
    font-weight: bold;
    font-size: 15px;
}

.menu-circle {
    padding-bottom: 150px;
    background: #171f2b;
    clip-path: ellipse(50% 95% at 50% 0%); 
}

.section-title {
    color: #171f2b;
    font-size: 30px;
    text-align: center;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.el-wrap {
    text-align: center;
    padding: 0 50px;
    padding-bottom: 50px;
}

.el-wrap h1 {
    color: #171f2b;
    font-size: 25px;
}

.el-wrap p {
    color: #6B7A90;
}

.section-complexity {
    text-align: center;
}

.section-complexity h3 {
    font-size: 35px;
    color: #171f2b;
}

.section-complexity p {
    font-size: 20px;
    color: #6a798e;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 50px;
}

.wrap-complexity {
    text-align: left;
    padding: 8%;
}

p.p-complexity {
    font-size: 20px;
    padding: 0;
    color: #6a798e;
}

.h4-complexity {
    font-size: 30px;
    color: #171f2b;
}

.com {
    margin-bottom: 50px;
}

.rate {
    text-align: center;
    margin-bottom: 20px;
}

.c-rate {
    background: #171f2b;
}

.wrap-rate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.el-wrap-rate {
    margin: 0px 60px 60px 50px;
    padding: 30px;
    background: #252E3B;
    text-align: left;

}

.h1-rate {
    color: #fefefe;
}

.h3-rate {
    color: #9EABC0;
    margin-top: 0;
}

.h4-rate {
    color: #fefefe;
}

.hr-rate {
    border-bottom:1px dashed #9EABC0;
    height: 1px;
    width:100%;
}

.ul-rate {
    padding: 0;
    margin: 0;
}

.li-rate {
    list-style-type: none;
    padding-bottom: 15px;
}

#i-rate {
    color: #5ae0d2;
    padding-right: 5px;
}

.px-16 {
    font-size: 16px;
}

.pad-rate {
    padding-top: 60px;
    padding-bottom: 60px;
}

span.h4-rate {
    color: #9EABC0;
}

.button-rate {
    background: #7e6ee6;
    color: #fefefe;
    padding: 10px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.button-rate > p {
    text-align: center;
    margin: 0;
}

.pad-stars {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container h3 {
    font-size: 35px;
    color: #171f2b;
    text-align: center;
}

.wrap-s {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrap-stars {
    margin: 30px;
    color: #748297;
}

.img-stars {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-stars {
    display: flex;
    align-items: center;
    padding-top: 20px;

}

.avatar-stars span {
    padding-left: 10px;
    color: #414851;
}

