* {
    font-family: 'Red Rose', cursive;
}

a { 
    text-decoration: none;
} 

header {
    background: #171f2b;
}

body {
    margin: 0;
    padding: 0;
}

.box-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-sm {
    max-width: 848px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

svg#logo:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

.menu-content {
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu-icon {
    color: #fefefe;
    text-align: right;
}

.social {
    padding-right: 12px;
    font-size: 125%;
}

.social:hover {
    color: #7E6EE6;
    transition: 0.3s;
}

.menu {
    background: #171f2b;
    text-align: center;
}

.hero-title {
    color: #fefefe;
    font-size: 40px;
}

.hero-paragraph {
    color: #6a798e;
    font-size: 20px;
    margin-bottom: 30px;
}

a.hero-button {
    margin-top: 10px;
}

.hero-button h3 {
    margin: 0 auto;
    width: 200px;
    padding: 10px 20px;
    background: #7E6EE6;
    color: #fefefe;
    font-weight: bold;
    font-size: 15px;
}

.menu-circle {
    padding-bottom: 150px;
    background: #171f2b;
    clip-path: ellipse(50% 95% at 50% 0%); 
}

.section-title {
    color: #171f2b;
    font-size: 30px;
    text-align: center;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.el-wrap {
    text-align: center;
    padding: 0 50px;
    padding-bottom: 50px;
}

.el-wrap h1 {
    color: #171f2b;
    font-size: 25px;
}

.el-wrap p {
    color: #6B7A90;
}

.section-complexity {
    text-align: center;
}

.section-complexity h3 {
    font-size: 35px;
    color: #171f2b;
}

.section-complexity p {
    font-size: 20px;
    color: #6a798e;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 50px;
}

.wrap-complexity {
    text-align: left;
    padding: 8%;
}

p.p-complexity {
    font-size: 20px;
    padding: 0;
    color: #6a798e;
}

.h4-complexity {
    font-size: 30px;
    color: #171f2b;
}

.com {
    margin-bottom: 50px;
}
